.clear {
    clear: both;
}

button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    display: inline;
    cursor: pointer;
}

.alert {
    background-color: #2de68a;
    padding: 5px 12px;
    font-weight: bold;
}

.alert .alert-content, .alert .alert-readmore {
    display: inline-block;
}

.alert .alert-readmore {
    margin-left: 5px;
}
.alert .alert-readmore button {
    color: #795D69;
    font-size: 15px;
}

.alert .alert-options {
    float: right;
}

.alert button::before {
    display: inline-block;
    content: "|";
    margin: 0 1px;
}
.alert button:first-child::before {
    display: none;
}

.header {
    background-color: #795D69;
    padding: 10px;
}

.header, .header a, .header button {
    color: #fff;
    text-decoration: none;
}

.header .app-name {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    letter-spacing: -1px;
}

.header .user-login {
    float: right;
    padding: 0;
}

.user-login .user-pic {
    vertical-align: middle;
    margin-right: 10px;
    max-width: 38px;
    border-radius: 38px;
    vertical-align: top;
}

.user-login .user-details {
    display: inline-block;
}

.user-login .user-name {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.user-login ul {
    list-style-type: none;
    padding: 0;
    margin: -3px 0 0 0;
}

.user-login li {
    font-size: 14px;
    display: inline-block;
}

.user-login li::before {
    display: inline-block;
    content: "|";
    margin-left: 5px;
    margin-right: 5px;
}

.user-login li:first-child::before {
    display: none;
}

.page {
    margin: 10px;
}

.dev-tools {
    border-top: 1px solid #000;
    margin: 8px;
    padding-top: 5px;
    font-weight: bold;
}

.dev-tools button {
    margin-left: 5px;
}

.dev-tools button::before {
    content: "|";
    display: inline-block;
    margin-right: 2px;
}